@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<Tweet>
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="text-left mt-3">
    <h3 class="display-6">@ViewData["Title"]</h3>
</div>
<hr/>
<div class="mt-3" style="overflow-y: scroll; height: 730px;">
    @foreach (var tweet in Model)
    {
        <div class="row">
            <div class="col-8">
                @await Component.InvokeAsync("Tweet", new {id = tweet.Id})
            </div>
            <div class="col-4">
                <a class="btn btn-primary" asp-controller="Tweets" asp-action="Edit" asp-route-id="@tweet.Id">@Localizer["Edit"]</a>
                <a class="btn btn-danger" asp-controller="Tweets" asp-action="Delete" asp-route-id="@tweet.Id">@Localizer["Delete"]</a>
            </div>
        </div>
        <hr/>
    }
</div>
