@model Twitter.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = "_Layout"; 
}

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="text-left mt-3">
        <h3 class="display-6">@ViewData["Title"]</h3>
    </div>
<hr/>
<div class="pl-2 d-flex flex-column bd-highlight">
    <div class="d-flex justify-content-start bd-highlight" style="font-weight: bold; font-size: x-large">
        @Model.User.Name
    </div>
    
    <div class="d-flex justify-content-start bd-highlight" style="color: gray">
        @@@Model.User.UserName
    </div>
    
    <div class="mt-2 d-flex flex-row bd-highlight">
        <div class="d-flex">
            <div style="font-weight: bold">
                @Model.AmountOfFollowing
            </div>
            <div class="ml-1">
                Following
            </div>
        </div>
        <div class="ml-1 d-flex">
            <div style="font-weight: bold">
                @Model.AmountOfFollowers
            </div>
            <div class="ml-1">
                Followers
            </div>
        </div>
    </div>
</div>
<ul class="mt-3 nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
              Tweets
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
              Tweets and replies
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
              Likes
          </a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="mt-3 tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            @foreach (var tweet in @Model.UserTweets)
            {
                await Html.RenderPartialAsync("Tweet", tweet);
            }
        </div>
        <div class="mt-3 tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            Tweets and replies
        </div>
        <div class="mt-3 tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            Likes
        </div>
    </div>
</body>
</html>